*|body {
  background-color: #666666;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
}
*|div#title {
  background-color: #eef0ee;
  border-bottom-style: solid;
  font-family: verdana;
  font-weight: inherit;
  border-right-style: solid;
  color: black;
}
*|div#title *|img {
  border-style: none;
}
*|div#title *|h1 {
  border-style: none;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}
*|div#title *|h2 {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  font-style: italic;
  margin-top: 0px;
  margin-left: 20px;
  text-align: left;
}
*|div#left {
  padding: 0.5em 0.8em 0.8em 0.5em;
  background-color: #eef0ee;
  margin-right: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom-style: solid;
  font-size: large;
  float: left;
  font-family: "Courier New",Courier,monospace;
  border-right-style: solid;
  color: black;
  width: 84px;
}
*|div#left *|a {
  text-decoration: none;
  color: black;
}
*|div#left *|a:hover {
  text-decoration: none;
  font-weight: bold;
}
*|div#left *|a#here {
  font-weight: bold;
}
*|div#main {
  padding: 1em 1em 1em 55px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom-style: solid;
  background-color: #eef0ee;
  margin-left: 75px;
  border-right-style: solid;
  font-family: Arial,Helvetica,sans-serif;
  color: black;
  min-height: 12em;
}
*|div#main *|div#citation {
  font-weight: inherit;
  font-family: sans-serif;
  font-style: italic;
  text-align: right;
  font-size: large;
}
*|div#main *|h1 {
  font-weight: bold;
  font-size: 22px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
*|div#main *|p {
  padding-left: 1em;
  text-align: justify;
}
*|div#main *|h2 {
  font-size: 18px;
  font-weight: bold;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  margin-top: 2em;
}
*|img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
*|img.alignleft {
  border-style: solid;
  border-width: 1px;
  padding: 4px;
  float: left;
  margin-right: 7px;
  margin-bottom: 2px;
}
*|img.alignright {
  border-style: solid;
  border-width: 1px;
  padding: 4px;
  float: right;
  margin-bottom: 2px;
  margin-left: 7px;
}
*|dl.references *|dd {
  overflow: auto;
  font-weight: inherit;
  text-align: left;
  margin-bottom: 1em;
  font-size: 13px;
}
*|div#bottom {
  padding: 3px 1em 3px 1.5em;
  color: black;
  background-color: #eef0ee;
  margin-left: 75px;
  border-right-style: solid;
  border-bottom-style: solid;
  font-size: 10px;
  word-spacing: 10px;
}
